
.site-intro {
    display: grid;
    grid-template-columns: 5fr 3fr;
    
    gap: 1.5rem;
    align-items: center;

    background-color: #D9EAFD;
    margin-top: 80px;
}

.site-intro h2 {
    color: black;
    font-size: 3vw;
}

.img-portrait {
    height: 85%;
    max-width: 85%;
    justify-self: center;

    padding: 5%;
}