
.site-intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    align-items: center;

    background-color: #D9EAFD;
    margin-top: 80px;
}

.site-intro h2 {
    color: black;
}

.img-portrait {
    height: 500px;
    padding-right: 100px;
    padding: 20px;
}